*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    margin: 0;
    background-color: gainsboro;
    display: grid;
    grid-template:  145px 2fr 1fr/  200px 2fr 1fr;
}

#header{
    grid-column: 2/4;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    overflow: hidden;
    display: grid;
    grid-template: 60px 60px/  1fr 1fr;
    padding: 10px;
}
.first-elem{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 20px;
}
.first-elem > input{
    width: 500px;
    height: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 30px;
    margin-top: 1rem;
    background-color: rgb(180, 178, 178);
}
.fa-solid{
    margin-top: 1rem;
    height: 15px;
    
}
.second-elem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 40px;
}
.second-elem > h3{
    padding-top: 1rem;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-elem .img-bell{
    margin-top: 1rem;
}
.third-elem{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 20px;
}
.third-elem > h3{
    padding-top: 1rem;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }

.fourt-elem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 40px;
}
button{
    height: 30px;
    background-color: #0ea5e9;
    color: white;
    padding: 8px;
    width: 80px;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
}
.catphoto{
    border-radius: 50%;
}

#sidebar{
   grid-row: 1/4 ;
   background-color: #0ea5e9;
   padding: 30px 0 20px 30px;
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
}
 .sidebar-hearder{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}
.sidebar-hearder .h2{
    color: white;
    padding-top: 3px;
    font-size: 22px;
    font-weight: bold;

}
.sidebar-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-elem{
    color: white;
    font: 15px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.img-style{
    padding-top: 3px;
}


#body{
    grid-column: 2/4;
    grid-row: 2/4;
}
